//! **************************************************************************
// Written by: Map P.49d on Fri Feb 28 11:13:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "Baudrate<0>" LOCATE = SITE "C18" LEVEL 1;
COMP "Baudrate<1>" LOCATE = SITE "Y6" LEVEL 1;
COMP "Baudrate<2>" LOCATE = SITE "W6" LEVEL 1;
COMP "Uart_clk_out" LOCATE = SITE "B3" LEVEL 1;
COMP "clk_in" LOCATE = SITE "AB13" LEVEL 1;
SCHEMATIC END;

