
#-----------------------------------------------------------------------
#------------------------------------------------------ Mapping --------
#-----------------------------------------------------------------------

NET "clk_in" LOC = "AB13";			//User clock

NET "Baudrate[0]" LOC = "C18";	//Dip Switch
NET "Baudrate[1]" LOC =  "Y6";	
NET "Baudrate[2]" LOC =  "W6";	

NET "Uart_clk_out" LOC = "B3";	//User SMA GPIO P