
#-----------------------------------------------------------------------
#------------------------------------------------------ Mapping --------
#-----------------------------------------------------------------------

NET "clk_in" LOC = "AB13";			//User clock

NET "Baudrate[0]" LOC =  "C18";	//Dip Switch
NET "Baudrate[1]" LOC =  "Y6";	
NET "Baudrate[2]" LOC =  "W6";	

NET "LED[0]" LOC =  "D17";			//Led
NET "LED[1]" LOC =  "AB4";	
NET "LED[2]" LOC =  "D21";

NET "rx" LOC = "H17";				//USB1"tx"


